<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Account</title>
        
      <link rel="stylesheet" type="text/css" href="http://themes.exvo.com/Carbon.css" />
<link rel="stylesheet" type="text/css" href="http://themes.exvo.com/Themes/Carbon/css/colors.css" />
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />

      <script type="text/javascript" src="http://themes.exvo.com/js/jquery-1.3.2.js"></script>

<script type="text/javascript" src="http://themes.exvo.com/js/jquery-ui-1.7.2.custom.min.js"></script>
<script type="text/javascript" src="http://themes.exvo.com/js/imagetick.js"></script>
<script type="text/javascript" src="http://themes.exvo.com/js/jquery.selectbox-0.3.js"></script>
<script type="text/javascript" src="http://themes.exvo.com/js/jquery.contextMenu.js"></script>
<script type="text/javascript" src="http://themes.exvo.com/js/general.js"></script>
<script type="text/javascript" src="http://themes.exvo.com/js/events.js"></script>

      <script type="text/javascript">
        var theme_path = 'http://themes.exvo.com/Themes/Carbon/';
        var images_path = theme_path + 'images/';
        var desktop_url = 'http://desktop.exvo.com/';
        var logged = <%= @logged_in ? 'true' : 'false' %>;
      </script>
    
    </head>
    <body>
      <table class="dock">

        <tr>
          <td class="left">
            <div class="icon-splitter"></div>
            <div class="dock-left">
              <div class='shortcut'><table><tr><td><a href='http://desktop.exvo.com/' id='_icon' title='Desktop'><img src="http://themes.exvo.com/images/desktop.png?010814095144" /><span class='shortcut-caption'>Desktop</span></a></td></tr></table></div>
              <div class='shortcut' id='dock_hidden' style='display: none'><table><tr><td><a href='http://desktop.exvo.com/dock?url=http%3A%2F%2Fwww.example.com' id='dock_hidden_icon' title='Example1'><img src="http://themes.exvo.com/images/shortcut_32.png?01081409515" /><span class='shortcut-caption'>Example1</span></a></td></tr></table></div>
            </div>
          </td>

          <td class="dock-arrow back"></td>
          <td class="center">
            <div id="dock-dd" class="dock-center"><div class='dock-icons-wrap'></div></div>
          </td>
          <td class="dock-arrow next"></td>
          <td class="right">
            <div class="icon-splitter"></div>
            <div class="dock-right">
            <% if @logged_in %>
        <div class='shortcut'><table><tr><td><a href='https://auth.exvo.com:4430/auth/account/basics' id='_icon' title='Account'><img src="http://themes.exvo.com/images/account.png?010815012191" /><span class='shortcut-caption'>Account</span></a></td></tr></table></div>
        <div class='shortcut'><table><tr><td><a href='' id='_icon' title='Refresh'><img src="http://themes.exvo.com/images/refresh.png?01081501212" /><span class='shortcut-caption'>Refresh</span></a></td></tr></table></div>
        <div class='shortcut'><table><tr><td><a href='' id='_icon' title='Help'><img src="http://themes.exvo.com/images/help.png?010815012184" /><span class='shortcut-caption'>Help</span></a></td></tr></table></div>
        <div class='shortcut'><table><tr><td><a href='/logout' id='_icon' title='Logout'><img src="http://themes.exvo.com/images/logout.png?01081501210" /><span class='shortcut-caption'>Logout</span></a></td></tr></table></div>
            <% else %>
        <table class="login-buttons">
          <tr>
            <td class="btn">
      <table class="button">
        <tr>
          <td class="button-left"><a href="/login"></a></td>
          <td class="button-middle"><a href="/login">Login</a></td>
          <td class="button-right"><a href="/login"></a></td>
        </tr>
      </table>
    </td>
            <td class="txt">or</td>
            <td class="btn">
      <table class="button">
        <tr>
          <td class="button-left"><a href="https://auth.exvo.com:4430/auth/users/new?service=https://auth.exvo.com:4430"></a></td>
          <td class="button-middle"><a href="https://auth.exvo.com:4430/auth/users/new?service=https://auth.exvo.com:4430">Signup</a></td>
          <td class="button-right"><a href="https://auth.exvo.com:4430/auth/users/new?service=https://auth.exvo.com:4430"></a></td>
        </tr>
      </table>
    </td>
          </tr>
        </table>
      <% end %>
            </div>
          </td>
        </tr>

      </table>
      <ul id="dock-right-menu" class="context-menu">
        <li class="delete" ><a href="#removeFromDock">Remove</a></li>
      </ul>
      
    <table class="title">
      <tr>
        <td>
          Authorize
        </td>
      </tr>
    </table>

    
    <div class="content">
      <div class="login-box">
  <h1>Sign in with your Exvo ID</h1>
  <% if @message %>
    <h3 class="messagebox <%= @message[:type] %>"><%= @message[:message] %></h3>

  <% end %>
  
      <div class="exvo-box">
        <table >
    
      <tr>
        <td class="header-left"></td>
        <td class="header">
          <span>Enter your Exvo ID and Password</span>
        </td>
        <td class="header-right"></td>

      </tr>
    
      <tr>
        <td class="body-left"></td>
        <td class="body">
          <span>  <form id="login-form" action="<%= @form_action || "/login" %>" method="post">
    <input type="hidden" value="<%= @lt %>" class="hidden" name="lt" id="nil_class_lt"/>
    <input type="hidden" value="<%= @service %>" class="hidden" name="service" id="nil_class_service"/>
    <table>
      <tr>

        <td>
      <div class="input ">
        <span class="left">
        </span>
        <input type="text" value="" class="animated_txt search-default text" title="Username" name="username" id="nil_class_username"/>
        <span class="right">
        </span>
      </div>
    </td>

        <td></td>
      </tr>
      <tr>
        <td>
      <div class="input ">
        <span class="left">
        </span>
        <input type="password" value="" class="animated_txt search-default password" title="Password" name="password" id="nil_class_password"/>
        <span class="right">

        </span>
      </div>
    </td>
        <td><button type="submit" class="submit-button">
      <table class="button">
        <tr>
          <td class="button-left"></td>
          <td class="button-middle">Login</td>

          <td class="button-right"></td>
        </tr>
      </table>
    </button> <!--a id="script-signup" class="button" style="display: none;" onclick="$('#login-form').submit();return false;"--></td>
      </tr>
      <tr>
        <td>
      <div class="checkbox-wrap ">

        <input type="checkbox" class="checkbox" title="Not implemented" name="rem-me" id="rem-me_id"/><label for="rem-me_id">Remember me</label>
      </div>
    </td>
        <td><a href="/auth/lost_password">Forgot password?</a></td>
      </tr>
      <!--tr>
        <td colspan="2"></td>
      </tr-->
    </table>  
  </form>

</span>
        </td>
        <td class="body-right"></td>
      </tr>
    
      <tr>
        <td class="splitter-left"></td>
        <td class="splitter"></td>
        <td class="splitter-right"></td>
      </tr>

      <tr>
        <td class="footer-left"></td>
        <td class="footer">
          <div class="buttons">
            <span>
      <table class="button">
        <tr>
          <td class="button-left"><a href="/auth/users/new"></a></td>
          <td class="button-middle"><a href="/auth/users/new">Create account</a></td>

          <td class="button-right"><a href="/auth/users/new"></a></td>
        </tr>
      </table>
    </span>
          </div>
        </td>
        <td class="footer-right"></td>
      </tr>
      <tr>

        <td class="bottom-left"></td>
        <td class="bottom"></td>
        <td class="bottom-right"></td>
      </tr>
     
        </table>
      </div>
    
</div>



    </div>
    </body>
</html>

